@import './../../../styles/variables';
@import './../../../styles/breakpoints';
@import './../../../styles/spacing';

.official-sources {
  padding: map-get($spacers, 4) map-get($spacers, 3);

  &-grid {
    display: grid;
    grid-gap: 1.5rem 0;
  }
}

.source-item {
  height: 120px;
  background: $light;
  margin-right: 0;
  margin-left: auto;
  width: calc(100% - 20px);
  position: relative;

  &__icon-container {
    min-width: 100px;
    height: 110px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -9px;
    left: -20px;
  }

  &__arrow {
    display: none;
  }

  &__text {
    margin-left: 62px;
  }

  &:nth-child(odd) {
    .source-item__icon-container {
      background: $icon-1;
    }
  }

  &:nth-child(even) {
    .source-item__icon-container {
      background: $icon-2;
    }
  }

  @media screen and (min-width: $mobile) {
    & {
      gap: 1rem;
      justify-content: space-between;

      &:hover, &:hover &__arrow {
        color: $dark-4;
      }
    }

    &__arrow {
      display: block;
      color: $dark-2;
      font-size: 2rem;
      min-width: 2rem;
    }
  }
}

@media screen and (min-width: $tablet) {
  .official-sources-grid {
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $desktop) {
  .official-sources-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
