@import './../../../styles/spacing';
@import './../../../styles/breakpoints';

.aid-categories {
  &__grid {
    display: grid;
    grid-gap: $base-size-spacer;
  }
  
  @media screen and (min-width: $tablet) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: $desktop) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
