h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a, button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  margin: 0;
  font-family: inherit;
}
