@import './../../styles/variables';
@import './../../styles/breakpoints';

.header {
  border-bottom: 1px solid $dark-6;

  @media screen and (min-width: $desktop) {
    & {
      border-bottom: none;
    }

    .mobile-navigation {
      display: none;
    }
  }
}
