/*------- Variables -------*/
:root {
  /* Colors */
  --light-1: white;
  --light-2: #fbfbfb;
  --dark-1: #000;
  --dark-2: #141414;
  --dark-3: #404040;
  --dark-4: #5B6B7B;
  --dark-5: #BEC3CC;
  --dark-6: #E8EAED;
  --secondary: #821811;
  /* --------------- */
  /* Utils */
  --box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
  --bg-linear-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.6) 100%);
  /* Containers */
  --container-lg: 1296px;
  --container-md: 1072px;
  /* Fonts */
  --header-1: 700 3.125rem / 3.25rem Arial;
  --header-2: 700 1.75rem / 2.5rem Arial;
  --header-3: 700 1.25rem / 1.4rem Arial;
  --header-4: 700 1rem / 1.4rem Arial;
  --body-2: 600 1rem / 1.5rem Arial;
  --body-1: 400 1rem / 1.5rem Arial;
  --caption: 400 0.875rem / 1rem Arial;
  --button: 700 1rem / 1.5rem Arial;
  --link: 700 1rem / 1.5rem Arial;
  --breadcrumb: 400 0.75rem / 1rem Arial;
}

/* Breakpoints */
/*------- Common -------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--dark-1);
  background: var(--light-1);
  font: var(--body-1);
}

.container-lg, .container-md {
  width: 90%;
  margin: 0 auto;
}
.container-lg {
  max-width: var(--container-lg);
}
.container-md {
  max-width: var(--container-md);
}

h1 {
  font: var(--header-1);
}

h2 {
  font: var(--header-2);
}

h3 {
  font: var(--header-3);
}

h4 {
  font: var(--header-4);
}

.button {
  font: var(--button);
  color: var(--secondary);
  min-width: 126px;
  max-width: fit-content;
  text-align: center;
  background: var(--light-1);
  border: 2px solid var(--secondary);
  border-radius: 4px;
  padding: 0.3rem 1rem;
}
.button:hover {
  background: var(--secondary);
  color: var(--light-1);
}

.caption {
  font: var(--caption);
}

.link {
  font: var(--link);
}

a, .link {
  text-decoration: none;
  color: inherit;
}

/*------- Reset -------*/
a:focus, button:focus {
  outline: none;
  box-shadow: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

/*------- Header -------*/
.header {
  padding: 0 1rem;
  border-bottom: 1px solid var(--dark-6);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo--sm {
  max-width: 48px;
}
.header__logo--lg {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__logo--sm {
    display: none;
  }
  .header__logo--lg {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    border-bottom: none;
  }
  .header .mobile-navigation {
    display: none;
  }
  .header .navigation {
    display: flex;
  }
}

/*------- Header desktop navigation -------*/
.navigation, .if-logo--lg {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    color: var(--dark-1);
  }
  .navigation__search-item {
    font-size: 1.5rem;
  }
  .navigation__item {
    padding: 1rem 0;
    border-bottom: 1px solid transparent;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .navigation__item {
    padding: 1rem 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__item.active, .navigation__item:hover {
    color: var(--secondary);
    border-bottom-color: var(--secondary);
  }
}
@media screen and (min-width: 1024px) {
  .navigation__item.active {
    font-weight: 700;
  }
}
/*------- Header mobile navigation -------*/
.mobile-navigation__head {
  display: flex;
  align-items: center;
}
.mobile-navigation__search {
  color: var(--dark-4);
}
.mobile-navigation__search-link {
  margin-right: 1rem;
}
.mobile-navigation__menu-control {
  position: relative;
}
.mobile-navigation__menu-control .hamburger-state-holder {
  display: block;
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

/*------- Header hamburger -------*/
.hamburger {
  cursor: pointer;
}
.hamburger div {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: var(--dark-4);
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}
.hamburger.open .top-bun {
  transform: rotate(-45deg);
  margin-top: 5px;
}
.hamburger.open .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
.hamburger.open .meat {
  transform: rotate(45deg);
  margin-top: -2px;
}

.menu {
  top: 0;
  right: 0;
  z-index: 5;
  height: 100vh;
  background: var(--light-1);
  width: calc(100% - 1.5rem);
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s transform;
  box-shadow: -8px -8px 16px 0px rgba(0, 0, 0, 0.0784313725);
}
.menu--open {
  transform: translateX(0);
}
.menu__header {
  height: 60px;
  border-bottom: 1px solid var(--dark-6);
}

.backdrop {
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  background: rgba(var(--dark-1), 0.4);
}

/*------- Back To Top Button -------*/
.back-button {
  z-index: 2;
  top: 10%;
  right: 1rem;
  position: fixed;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 4px;
  background: var(--light-1);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-button:hover {
  color: var(--light-1);
  background: var(--secondary);
}

/*------- Footer -------*/
.footer {
  padding: 1.5rem;
  position: relative;
  background: var(--dark-1);
  color: var(--light-1);
  /*------- Footer contacts -------*/
  /*------- Footer navigation -------*/
}
.footer__container {
  width: 95%;
  margin: 0 auto;
  max-width: 1312px;
}
.footer__title {
  color: var(--light-1);
  padding-bottom: 1rem;
  margin-bottom: 12px;
  border-bottom: 1px solid var(--dark-5);
}
.footer .copyright {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.footer .copyright__icon {
  margin-right: 0.5rem;
}
.footer .contacts {
  color: var(--dark-5);
}
.footer .contacts__grid {
  gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .contacts__link:hover {
  color: var(--light-1);
}
.footer .phones {
  margin-top: 1rem;
}
.footer .phones__title {
  margin-bottom: 0.5rem;
}
.footer .phones__item {
  margin-bottom: 0.25rem;
}
.footer .contact-item__name {
  text-transform: uppercase;
  margin: 0.25rem 0;
}
.footer__nav {
  margin-top: 1rem;
  padding-top: 0.5rem;
}
.footer__nav .nav {
  margin: 1rem 0;
}
.footer__nav .nav__link {
  color: var(--dark-5);
}
.footer__nav .nav__link:hover {
  color: var(--light-1);
}
.footer__nav .nav__item {
  margin-bottom: 0.5rem;
}
.footer__nav .nav__list {
  display: grid;
  grid-gap: 0 2rem;
  grid-template-columns: 1fr 1fr;
}
.footer .social-media {
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid var(--light-1);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}
.footer .social-media__title {
  margin-bottom: 1rem;
}
.footer .social-media__item {
  margin: 0 0.5rem;
}
.footer .social-media__item:hover {
  color: var(--dark-5);
}
@media screen and (min-width: 1024px) {
  .footer .social-media {
    min-width: 420px;
  }
}
@media screen and (min-width: 1024px) {
  .footer .nav-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1.5fr 1fr;
    align-items: flex-start;
  }
  .footer .social-media {
    margin: 0.5rem 0 0 auto;
  }
}

/*------- Breadcrumbs -------*/
.breadcrumbs:not(:empty) {
  height: 48px;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  background: var(--light-1);
}
.breadcrumbs:not(:empty) .breadcrumb {
  display: flex;
  align-items: center;
  font: var(--breadcrumb);
}
.breadcrumbs:not(:empty) .breadcrumb a {
  color: var(--secondary);
}
.breadcrumbs:not(:empty) .breadcrumb__icon {
  font-size: 15px;
  margin: 0 1rem;
  color: var(--secondary);
}
@media screen and (min-width: 1024px) {
  .breadcrumbs:not(:empty):not(.dark) {
    top: 60px;
    z-index: 3;
    color: var(--light-1);
    background: transparent;
    position: absolute;
  }
  .breadcrumbs:not(:empty):not(.dark) .breadcrumb a {
    color: var(--dark-6);
  }
  .breadcrumbs:not(:empty):not(.dark) .breadcrumb__icon {
    color: var(--light-1);
  }
}

/*------- Headline -------*/
.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-1);
  min-height: 50vh;
  padding: 1rem 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headline:after {
  content: "";
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--bg-linear-gradient);
}
.headline__content {
  z-index: 2;
  position: relative;
}
.headline__title {
  margin-bottom: 1rem;
  font: var(--header-1);
}
.headline__title.sm {
  font-size: 40px;
}
@media screen and (min-width: 1024px) {
  .headline__content {
    max-width: 80%;
  }
  .headline__text {
    font: var(--header-3);
  }
  .headline__title {
    margin-bottom: 1.5rem;
  }
}

/*------- Aid Categories -------*/
.aid-categories {
  padding: 1.5rem;
}
.aid-categories__title {
  margin: 1rem 0 1.5rem;
}
.aid-categories__grid {
  display: grid;
  grid-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .aid-categories__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .aid-categories__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.aid-category {
  box-shadow: var(--box-shadow);
  background: var(--light-1);
  border-radius: 4px;
  padding: 1.25rem 1rem;
}
.aid-category__icon, .aid-category__link {
  margin: 0 auto;
  display: block;
}
.aid-category__title {
  margin: 1rem 0 0.5rem;
}
.aid-category__text {
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .aid-category__text {
    min-height: 72px;
    overflow: hidden;
    display: -webkit-box;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

/*------- Official Sources  -------*/
.official-sources {
  padding: 1.5rem 1rem;
}
.official-sources__title {
  margin: 1rem 1.5rem;
}
.official-sources__grid {
  display: grid;
  grid-gap: 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .official-sources__grid {
    grid-gap: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .official-sources__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.official-sources .source-item {
  height: 120px;
  background: var(--light-1);
  margin-right: 0;
  margin-left: auto;
  width: calc(100% - 20px);
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 1.5rem;
}
.official-sources .source-item__arrow {
  display: none;
}
.official-sources .source-item__icon-container {
  min-width: 100px;
  height: 110px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  left: -20px;
}
.official-sources .source-item__text {
  margin-left: 62px;
}
.official-sources .source-item:nth-child(odd) .source-item__icon-container {
  background: #ebf6fb;
}
.official-sources .source-item:nth-child(even) .source-item__icon-container {
  background: #fff8e8;
}
@media screen and (min-width: 480px) {
  .official-sources .source-item {
    gap: 1rem;
    justify-content: space-between;
  }
  .official-sources .source-item:hover, .official-sources .source-item:hover .source-item__arrow {
    color: var(--dark-4);
  }
  .official-sources .source-item__arrow {
    display: block;
    color: var(--dark-2);
    font-size: 2rem;
    min-width: 2rem;
  }
}

/*------- Aid Categories Details  -------*/
.aid-categories-details {
  padding: 1.5rem;
}
.aid-categories-details__accordion {
  padding: 0.5rem 1rem 1.5rem 1rem;
  box-shadow: var(--box-shadow);
}
.aid-categories-details .details-button {
  min-width: 190px;
}
.aid-categories-details__title {
  margin: 1rem 0;
}
.aid-categories-details .aid-category-detail__button {
  padding: 1rem 0;
  border-bottom: 1px solid var(--dark-1);
}
.aid-categories-details .aid-category-detail__description {
  margin: 0;
  font-family: inherit;
}
.aid-categories-details .aid-category-detail__btn-more {
  display: block;
  margin: 1rem auto 0;
}
@media screen and (min-width: 1024px) {
  .aid-categories-details__accordion {
    padding: 0;
    box-shadow: none;
  }
  .aid-categories-details .aid-category-detail {
    padding: 0 1rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
  }
  .aid-categories-details .aid-category-detail__button {
    padding: 1.5rem 0;
  }
  .aid-categories-details .aid-category-detail .accordion__item-input:not(:checked) ~ .aid-category-detail__button {
    border-color: transparent;
  }
}

/*------- Accordion  -------*/
.accordion__button {
  color: var(--dark-4);
  cursor: pointer;
  margin: 0;
  padding: 1.5rem 0;
  line-height: 1.75rem;
  transition: all 0.25s ease-in-out;
}
.accordion .no-select, .accordion__button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion__content {
  position: relative;
  overflow: hidden;
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 0.25s ease-in-out;
}
.accordion__content pre {
  margin: 0;
  white-space: pre-line;
  font: var(--body-1);
}
.accordion__item {
  position: relative;
}
.accordion__item:nth-of-type(1) {
  animation-delay: 0.5s;
}
.accordion__item:nth-of-type(2) {
  animation-delay: 0.75s;
}
.accordion__item:nth-of-type(3) {
  animation-delay: 1s;
}
.accordion__item:last-of-type {
  padding-bottom: 0;
}
.accordion__item:hover, .accordion__item .accordion__item-input:checked ~ .accordion__button {
  color: var(--dark-1);
}
.accordion__item-input[type=radio] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
  left: 0;
  top: 0;
}
.accordion__item-input[type=radio]:checked ~ .accordion__button {
  border-bottom-color: var(--dark-1);
}
.accordion__item-input[type=radio]:checked ~ .accordion__content {
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
  padding: 1rem 0;
}

/*------- Search  -------*/
.search {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.search-header {
  display: flex;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid var(--dark-6);
}
.search-header__icon-back {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.75rem;
  color: var(--dark-4);
  position: absolute;
}
.search-header__title {
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .search-header {
    display: none;
  }
}
.search-input {
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  border: 1px solid var(--dark-4);
  border-radius: 4px;
  padding: 6px 12px;
  margin: 1rem auto;
}
.search-input__icon {
  color: var(--dark-4);
}
.search-input__search-icon {
  font-size: 1rem;
}
.search-input__reset-btn {
  padding: 0;
  border: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-self: flex-end;
  cursor: pointer;
}
.search-input__reset-btn-icon {
  font-size: 1.25rem;
  color: var(--dark-4);
}
.search-input__reset-btn-icon:hover {
  color: var(--dark-5);
}
.search-input__el {
  width: 100%;
  border: none;
  outline: none;
  color: var(--dark-1);
  font: var(--body-1);
  text-overflow: ellipsis;
}
.search-input__el::-webkit-search-cancel-button {
  cursor: pointer;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
}
.search-input__el::placeholder {
  color: var(--dark-4);
}

.search-results {
  margin: 1rem auto;
}
.search-results__title {
  padding: 12px 0;
  border-bottom: 1px solid var(--dark-1);
}
.search-results-item {
  display: block;
  box-shadow: var(--box-shadow);
  padding: 12px 20px;
  margin: 1rem 0;
}
.search-results-item__description {
  padding-top: 0.5rem;
}

.search-no-results {
  text-align: center;
}
.search-no-results__icon-circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid var(--dark-4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 1.5rem;
}
.search-no-results__icon {
  font-size: 2rem;
  color: var(--dark-4);
}
.search-no-results__text {
  font-size: 1.25rem;
}

/*------- Spinner  -------*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--dark-4);
  border-top: 10px solid var(--dark-2);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/*# sourceMappingURL=styles.css.map */
