/*------- Variables -------*/
:root {
  /* Colors */
  --light-1: white;
  --light-2: #fbfbfb;

  --dark-1: #000;
  --dark-2: #141414;
  --dark-3: #404040;
  --dark-4: #5B6B7B;
  --dark-5: #BEC3CC;
  --dark-6: #E8EAED;

  --secondary: #821811;
  /* --------------- */

  /* Utils */
  --box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
  --bg-linear-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.6) 100%);

  /* Containers */
  --container-lg: 1296px;
  --container-md: 1072px;

  /* Fonts */
  --header-1:    700 3.125rem / 3.25rem Arial;
  --header-2:    700 1.75rem / 2.5rem Arial;
  --header-3:    700 1.25rem / 1.4rem Arial;
  --header-4:    700 1rem / 1.4rem Arial;
  --body-2:      600 1rem / 1.5rem Arial;
  --body-1:      400 1rem / 1.5rem Arial;
  --caption:     400 0.875rem / 1rem Arial;
  --button:      700 1rem / 1.5rem Arial;
  --link:        700 1rem / 1.5rem Arial;
  --breadcrumb:  400 0.75rem / 1rem Arial;
}

/* Breakpoints */
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

/*------- Common -------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--dark-1);
  background: var(--light-1);
  font: var(--body-1);
}

.container {

  &-lg, &-md {
    width: 90%;
    margin: 0 auto;
  }

  &-lg {
    max-width: var(--container-lg);
  }

  &-md {
    max-width: var(--container-md);
  }
}

h1 {
  font: var(--header-1);
}

h2 {
  font: var(--header-2);
}

h3 {
  font: var(--header-3);
}

h4 {
  font: var(--header-4);
}

.button {
  font: var(--button);
  color: var(--secondary);
  min-width: 126px;
  max-width: fit-content;
  text-align: center;
  background: var(--light-1);
  border: 2px solid var(--secondary);
  border-radius: 4px;
  padding: .3rem 1rem;

  &:hover {
    background: var(--secondary);
    color: var(--light-1);
  }
}

.caption {
  font: var(--caption);
}

.link {
  font: var(--link);
}

a, .link {
  text-decoration: none;
  color: inherit;
}

/*------- Reset -------*/

a, button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

/*------- Header -------*/

.header {
  padding: 0 1rem;
  border-bottom: 1px solid var(--dark-6);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    &--sm {
      max-width: 48px;
    }

    &--lg {
      display: none;
    }
  }

  @media screen and (min-width: $mobile) {
    &__logo {
      &--sm {
        display: none;
      }

      &--lg {
        display: block;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    & {
      border-bottom: none;
    }

    .mobile-navigation {
      display: none;
    }

    .navigation {
      display: flex;
    }
  }
}

/*------- Header desktop navigation -------*/
.navigation, .if-logo--lg {
  display: none;
}

@media screen and (min-width: $desktop)  {
  .navigation {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    color: var(--dark-1);

    &__search-item {
      font-size: 1.5rem;
    }

    &__item {
      padding: 1rem 0;
      border-bottom: 1px solid transparent;

      @media screen and (min-width: 1200px) {
        padding: 1rem .5rem;
      }

      &.active, &:hover {
        color: var(--secondary);
        border-bottom-color: var(--secondary);
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}

/*------- Header mobile navigation -------*/
.mobile-navigation {
  &__head {
    display: flex;
    align-items: center;
  }

  &__search {
    color: var(--dark-4);

    &-link {
      margin-right: 1rem;
    }
  }

  &__menu-control {
    position: relative;

    .hamburger-state-holder {
      display: block;
      position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
    }
  }
}

/*------- Header hamburger -------*/
.hamburger {
  cursor: pointer;

  div {
    position: relative;
    width: 18px;
    height: 2px;
    background-color: var(--dark-4);
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
  }

  &.open {
    .top-bun {
      transform: rotate(-45deg);
      margin-top: 5px;
    }

    .bottom-bun {
      opacity: 0;
      transform: rotate(45deg);
    }

    .meat {
      transform: rotate(45deg);
      margin-top: -2px;
    }
  }
}

.menu {
  top: 0;
  right: 0;
  z-index: 5;
  height: 100vh;
  background: var(--light-1);
  width: calc(100% - 1.5rem);
  position: fixed;
  transform: translateX(100%);
  transition: .3s transform;
  box-shadow: -8px -8px 16px 0px #00000014;

  &--open {
    transform: translateX(0);
  }

  &__header {
    height: 60px;
    border-bottom: 1px solid var(--dark-6);
  }
}

.backdrop {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 4;
  position: absolute;
  background: rgba(var(--dark-1), .4);
}

/*------- Back To Top Button -------*/
.back-button {
  z-index: 2;
  top: 10%;
  right: 1rem;
  position: fixed;

  min-width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 4px;
  background: var(--light-1);
  color: var(--secondary);
  border: 2px solid var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--light-1);
    background: var(--secondary);
  }
}

/*------- Footer -------*/
.footer {
  padding: 1.5rem;
  position: relative;
  background: var(--dark-1);
  color: var(--light-1);

  &__container {
    width: 95%;
    margin: 0 auto;
    max-width: 1312px;
  }

  &__title {
    color: var(--light-1);
    padding-bottom: 1rem;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--dark-5);
  }

  .copyright {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &__icon {
      margin-right: .5rem;
    }
  }

  /*------- Footer contacts -------*/
  .contacts {
    color: var(--dark-5);

    &__grid {
      gap: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__link:hover {
      color: var(--light-1);
    }
  }

  .phones {
    margin-top: 1rem;

    &__title {
      margin-bottom: .5rem;
    }

    &__item {
      margin-bottom: .25rem;
    }
  }

  .contact-item {
    &__name {
      text-transform: uppercase;
      margin: .25rem 0;
    }
  }

  /*------- Footer navigation -------*/

  &__nav {
    margin-top: 1rem;
    padding-top: .5rem;

    .nav {
      margin: 1rem 0;

      &__link {
        color: var(--dark-5);

        &:hover {
          color: var(--light-1);
        }
      }

      &__item {
        margin-bottom: .5rem;
      }

      &__list {
        display: grid;
        grid-gap: 0 2rem;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .social-media {
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid var(--light-1);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    max-width: 500px;

    &__title {
      margin-bottom: 1rem;
    }

    &__item {
      margin: 0 .5rem;

      &:hover {
        color: var(--dark-5);
      }
    }

    @media screen and (min-width: $desktop) {
      & {
        min-width: 420px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .nav-grid {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1.5fr 1fr;
      align-items: flex-start;
    }

    .social-media {
      margin: .5rem 0 0 auto;
    }
  }
}

/*------- Breadcrumbs -------*/

.breadcrumbs:not(:empty) {
  height: 48px;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  background: var(--light-1);

  .breadcrumb {
    display: flex;
    align-items: center;
    font: var(--breadcrumb);

    a {
      color: var(--secondary);
    }

    &__icon {
      font-size: 15px;
      margin: 0 1rem;
      color: var(--secondary);
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(.dark) {
      top: 60px;
      z-index: 3;
      color: var(--light-1);
      background: transparent;
      position: absolute;

      .breadcrumb {
        a {
          color: var(--dark-6);
        }

        &__icon {
          color: var(--light-1);
        }
      }
    }
  }
}

/*------- Headline -------*/

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-1);
  min-height: 50vh;
  padding: 1rem 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: '';
    z-index: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--bg-linear-gradient);
  }

  &__content {
    z-index: 2;
    position: relative;
  }

  &__title {
    margin-bottom: 1rem;
    font: var(--header-1);

    &.sm {
      font-size: 40px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__content {
      max-width: 80%;
    }

    &__text {
      font: var(--header-3);
    }

    &__title {
      margin-bottom: 1.5rem;
    }
  }
}

/*------- Aid Categories -------*/

.aid-categories {
  padding: 1.5rem;

  &__title {
    margin: 1rem 0 1.5rem;
  }

  &__grid {
    display: grid;
    grid-gap: 1rem;
  }

  @media screen and (min-width: $tablet) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: $desktop) {
    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.aid-category {
  box-shadow: var(--box-shadow);
  background: var(--light-1);
  border-radius: 4px;
  padding: 1.25rem 1rem;

  &__icon, &__link {
    margin: 0 auto;
    display: block;
  }

  &__title {
    margin: 1rem 0 .5rem;
  }

  &__text {
    margin: .5rem 0;
  }

  @media screen and (min-width: $tablet) {
    &__text {
      min-height: 72px;
      overflow: hidden;
      display: -webkit-box;
      white-space: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

/*------- Official Sources  -------*/

.official-sources {
  padding: 1.5rem 1rem;

  &__title {
    margin: 1rem 1.5rem;
  }

  &__grid {
    display: grid;
    grid-gap: 1.5rem 0;
  }

  @media screen and (min-width: $tablet) {
    &__grid {
      grid-gap: 2rem 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: $desktop) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .source-item {
    height: 120px;
    background: var(--light-1);
    margin-right: 0;
    margin-left: auto;
    width: calc(100% - 20px);
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    padding: 1.5rem;

    &__arrow {
      display: none;
    }

    &__icon-container {
      min-width: 100px;
      height: 110px;
      border-radius: 4px;

      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: -9px;
      left: -20px;
    }

    &__text {
      margin-left: 62px;
    }

    &:nth-child(odd) {
      .source-item__icon-container {
        background: #ebf6fb;
      }
    }

    &:nth-child(even) {
      .source-item__icon-container {
        background: #fff8e8;
      }
    }

    @media screen and (min-width: $mobile) {
      & {
        gap: 1rem;
        justify-content: space-between;

        &:hover, &:hover .source-item__arrow {
          color: var(--dark-4);
        }
      }

      &__arrow {
        display: block;
        color: var(--dark-2);
        font-size: 2rem;
        min-width: 2rem;
      }
    }
  }
}

/*------- Aid Categories Details  -------*/

.aid-categories-details {
  padding: 1.5rem;

  &__accordion {
    padding: 0.5rem 1rem 1.5rem 1rem;
    box-shadow: var(--box-shadow);
  }

  .details-button {
    min-width: 190px;
  }

  &__title {
    margin: 1rem 0;
  }

  .aid-category-detail {
    &__button {
      padding: 1rem 0;
      border-bottom: 1px solid var(--dark-1);
    }

    &__description {
      margin: 0;
      font-family: inherit;
    }

    &__btn-more {
      display: block;
      margin: 1rem auto 0;
    }
  }

  @media screen and (min-width: $desktop) {
    &__accordion {
      padding: 0;
      box-shadow: none;
    }

    .aid-category-detail {
      padding: 0 1rem;
      box-shadow: var(--box-shadow);
      margin-bottom: 1rem;

      &__button {
        padding: 1.5rem 0;
      }

      .accordion__item-input:not(:checked) ~ .aid-category-detail__button {
        border-color: transparent;
      }
    }
  }
}

/*------- Accordion  -------*/
.accordion {
  &__button {
    color: var(--dark-4);
    cursor: pointer;
    margin: 0;
    padding: 1.5rem 0;
    line-height: 1.75rem;
    transition: all 0.25s ease-in-out;
  }

  .no-select, &__button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__content {
    position: relative;
    overflow: hidden;
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    transition: all 0.25s ease-in-out;

    pre {
      margin: 0;
      white-space: pre-line;
      font: var(--body-1);
    }
  }

  &__item {
    position: relative;

    &:nth-of-type(1) {
      animation-delay: 0.5s;
    }

    &:nth-of-type(2) {
      animation-delay: 0.75s;
    }

    &:nth-of-type(3) {
      animation-delay: 1s;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    &:hover, .accordion__item-input:checked ~ .accordion__button {
      color: var(--dark-1);
    }
  }

  &__item-input[type=radio] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    left: 0;
    top: 0;

    &:checked {

      & ~ .accordion__button {
        border-bottom-color: var(--dark-1);
      }

      & ~ .accordion__content {
        max-height: 800px;
        opacity: 1;
        transform: translate(0, 0);
        z-index: 2;
        padding: 1rem 0;
      }
    }
  }
}

/*------- Search  -------*/
.search {
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  &-header {
    display: flex;
    padding: 1rem;
    position: relative;
    border-bottom: 1px solid var(--dark-6);

    &__icon-back {
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.75rem;
      color: var(--dark-4);
      position: absolute;
    }

    &__title {
      margin: 0 auto;
    }

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &-input {
    display: flex;
    gap: 0 .5rem;
    align-items: center;

    border: 1px solid var(--dark-4);
    border-radius: 4px;

    padding: 6px 12px;
    margin: 1rem auto;

    &__icon {
      color: var(--dark-4);
    }

    &__search-icon {
      font-size: 1rem;
    }

    &__reset-btn {
      padding: 0;
      border: 0;
      background: transparent;

      display: flex;
      align-items: center;
      justify-items: center;
      justify-self: flex-end;

      cursor: pointer;

      &-icon {
        font-size: 1.25rem;
        color: var(--dark-4);

        &:hover {
          color: var(--dark-5);
        }
      }
    }

    &__el {
      width: 100%;

      border: none;
      outline: none;

      color: var(--dark-1);
      font: var(--body-1);

      text-overflow: ellipsis;

      &::-webkit-search-cancel-button {
        cursor: pointer;
        height: 1em;
        width: 1em;
        border-radius: 50em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
        background-size: contain;
      }

      &::placeholder {
        color: var(--dark-4);
      }
    }
  }
}

.search-results {
  margin: 1rem auto;

  &__title {
    padding: 12px 0;
    border-bottom: 1px solid var(--dark-1);
  }

  &-item {
    display: block;
    box-shadow: var(--box-shadow);
    padding: 12px 20px;
    margin: 1rem 0;

    &__description {
      padding-top: .5rem;
    }
  }
}

.search-no-results {
  text-align: center;

  &__icon-circle {
    width: 72px;
    height: 72px;

    border-radius: 50%;
    border: 2px solid var(--dark-4);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2rem auto 1.5rem;
  }

  &__icon {
    font-size: 2rem;
    color: var(--dark-4);
  }

  &__text {
    font-size: 1.25rem;
  }
}

/*------- Spinner  -------*/

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid var(--dark-4);
  border-top: 10px solid var(--dark-2);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
