@import './../../styles/variables';

.footer {
  position: relative;
  background: $dark;
  color: $light;

  &__container {
    width: 95%;
    max-width: 1312px;
  }
}

.copyright-text svg {
  font-size: 1.5rem;
}

