@import './../../styles/variables';

.footer {
  position: relative;
  background: $dark;
  color: $light;
}

.contacts-grid {
  gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social-media {
  border: 1px solid $light;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.nav {

  &-link {
    color: $dark-5;

    &:hover {
      color: $light;
    }
  }
}

.copyright-text svg {
  font-size: 1.5rem;
}
