@use "sass:map";

@import './../../styles/variables';
@import './../../styles/breakpoints';
@import './../../styles/typography';

.headline {
  color: $light;
  min-height: 50vh;
  padding: 1rem 0;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:after {
    content: '';
    z-index: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: $bg-linear-gradient;
  }

  &__content {
    z-index: 2;
    position: relative;
  }

  &__title {
    margin-bottom: 1rem;

    &.sm {
      font-size: 40px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__content {
      max-width: 80%;
    }

    &__text {
      font: map.get($custom-typography-config, 'header-3');
    }

    &__title {
      margin-bottom: 1.5rem;
    }
  }
}

