@use "sass:map";

@import './../../styles/typography';
@import './../../styles/variables';
@import './../../styles/breakpoints';

.breadcrumbs:not(:empty) {
  height: 48px;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  background: $light;

  @media screen and (min-width: $desktop) {
    &:not(.dark) {
      top: 60px;
      z-index: 3;
      color: $light;
      background: transparent;
      position: absolute;

      .breadcrumb {
        a {
          color: $dark-6;
        }

        &__icon {
          color: $light;
        }
      }
    }

    .breadcrumb {

      &__icon {
        font-size: 1.5rem;
      }
    }
  }
}

.breadcrumb {
  font: map.get($custom-typography-config, 'breadcrumb');

  a {
    color: $secondary;
  }

  &__icon {
    font-size: 20px;
    color: $secondary;
  }
}
